@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>This is hard coded text</h4>
<h5>@ViewBag.Tester</h5>

<p>Use this area to provide additional information.</p>
