@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<address>
    <strong>Email:</strong>   <a href="mailto:tyler.hooper258@gmail.com">Tyler.Hooper258@gmail.com</a>
</address>