@{
    ViewBag.Title = "Result";
}

<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>

<div>
    <ul class="set">
        <li class="white b" style="background-color:#4cff00"></li>
        <li class="black as"></li>
        <li class="white a"></li>
        <li class="black gs"></li>
        <li class="white g"></li>
        <li class="black fs"></li>
        <li class="white f"></li>
        <li class="white e"></li>
        <li class="black ds"></li>
        <li class="white d"></li>
        <li class="black cs"></li>
        <li class="white c"></li>
        <li class="white b"></li>
        <li class="black as"></li>
        <li class="white a"></li>
        <li class="black gs"></li>
        <li class="white g"></li>
        <li class="black fs"></li>
        <li class="white f"></li>
        <li class="white e"></li>
        <li class="black ds"></li>
        <li class="white d"></li>
        <li class="black cs"></li>
        <li class="white c"></li>
    </ul>
</div>